# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Database Connection (Direct - port 5432)
DATABASE_URL=postgresql://postgres.user:password@db.project.supabase.co:5432/postgres

# AI Services
AIHUB_APIKEY=your_aihub_apikey
GOOGLE_GENERATIVE_AI_API_KEY=your_google_api_key
OPENAI_API_KEY=your_openai_api_key